body{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
}
#navbar {
    background-color: black;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    font-family: cursive;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 50px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}
  
  #navbar a:hover {
    background-color: #ffc115;
    color: black;
  }

#navbar a:focus{ 
    text-decoration: underline;
    background-color: orange;
    color: black;
} 
.rightnav{
    float: right;
}


.Home{
    height: 550px;
}
.landing{
    margin: 300px 200px;
    padding: 0px 30px 0px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    
    
}

.pp{
    width: auto;
    height: 250px;
    display: block;
    margin: 0 auto;
}

.landing a:hover{
    opacity: 0.8;
    transition: 1s;
    
}
.text1{
    font-family: cursive;
    align-items: center;
    text-align: justify;
    font-size: x-large;
    background-color: orangered;
    border-radius:54% 46% 82% 18% / 0% 23% 77% 100% ;
    padding-right: 15px;
    padding-top: 15px;
}

.porto {
    background-size: cover;
    position:static;
    display: flex;
    font-family: cursive;
}

.porto a {
    float: left;
    color: white;
    text-align: center;
    margin: 0px 60px;

    font-size: 17px;
    position: static;
    display: flex;
    text-decoration:none;
    transition: 0.3s;
}
.porto a:hover{
    transition: 0.2s;
    opacity: 0.6;
} 
.edutitle{
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
}
.education{
    margin-top: 50px;
    padding-top: 70px;
    background-image: url(./Asset/360_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpg);
    -webkit-box-shadow:0px -36px 39px 10px rgba(62,66,66,0.22);
-moz-box-shadow: 0px -36px 39px 10px rgba(62,66,66,0.22);
box-shadow: 0px -36px 39px 10px rgba(62,66,66,0.22);

    
}
.edu1{
    /* background-color: #ffc115; */
    display: block;
    /* float: left;    */
    height: 200px;
    padding: 50px;
    text-align: center;
    background-image: url(Asset/);
}
.edu2{
    /* background-color: #ffc115; */
    display: block;
    /* float: right;  */
    height: 200px;
    padding: 50px;

    text-align: center;

}   
.edu1,.edu2{
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.certificate{
    text-align: center;
    font-family: cursive;
    text-decoration: underline;

}
.organiz{
    color: gray;
}

.ecerti{
    margin: 50px;
    text-align: center;
    -webkit-box-shadow:0px 0px 105px 45px rgba(71,71,71,0.9);
    -moz-box-shadow: 0px 0px 105px 45px rgba(71,71,71,0.9);
    box-shadow: 0px 0px 105px 45px rgba(71,71,71,0.9);
}
.ecerti a:hover{
    opacity: 0.6;
    -webkit-box-shadow:0px 10px 30px 5px rgba(62,66,66,0.22);
    -moz-box-shadow: 0px 10px 30px 5px rgba(62,66,66,0.22);
    box-shadow: 0px 10px 30px 5px rgba(62,66,66,0.22);
    
}
.ui,.ux,.ppt,.uw,.seo,.canva{
    margin: 20px;
}
.con{
    text-align: center;
    font-family: cursive;
    text-decoration: underline;
}
.Contact{
    /* background-image: url(Asset/hero.jpg); */
    margin: 50px;
    
    
}

/* .about {
    text-align: center;
    background-image: url(Asset/hero.jpg);
}
.about h1{
    text-decoration: underline;
    font-family: cursive;
}

.about pre{
    height: 1000px;
    font-size: x-large;
} */